<div>
  <ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="active">Electronics</li>
  </ol>
</div>
<!-- /.div -->
<div class="row">
  <div class="btn-group alg-right-pad">
    <button type="button" class="btn btn-default">
      <strong>{{ products.length }}  </strong>item<span *ngIf="products.length > 1" >s</span>
      -
      <strong>{{ facoriteItems }}  </strong>favorite item<span *ngIf="facoriteItems > 1" >s</span>
    </button>
    <div class="btn-group" [ngClass]="{ 'open' : openSortOptions }">
      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" (click)="toggleSortDropdown()">
        Sort Products &nbsp;
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="javascript:void(0)" (click)="sortBy('price', 'ASC')">By Price Low</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0)" (click)="sortBy('price', 'DESC')">By Price High</a></li>
        <li class="divider"></li>
        <li><a href="javascript:void(0)" (click)="sortBy('name', 'ASC')">By Name</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- /.row -->
<div class="row">
  <div>Sorted by : {{ sortOption.by }}</div>
  <div *ngFor="let product of products" class="col-md-4 text-center col-sm-6 col-xs-6">
    <app-products-item [product]="product" (onFavoriteChange)="onFavoriteChange($event)" ></app-products-item>
  </div>

</div>
<!-- /.row -->
<div class="row">
  <ul class="pagination alg-right-pad">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
<!-- /.row -->
