<app-main-header></app-main-header>


<div class="container">

  <div class="row">
    <div class="col-md-3">
      <div>
        <a href="#" class="list-group-item active">Electronics
        </a>
        <ul class="list-group">

          <li class="list-group-item">Mobile <span class="label label-primary pull-right">234</span>
          </li>
          <li class="list-group-item">Computers
            <span class="label label-success pull-right">34</span>
          </li>
          <li class="list-group-item">Tablets
            <span class="label label-danger pull-right">4</span>
          </li>
          <li class="list-group-item">Appliances
            <span class="label label-info pull-right">434</span>
          </li>
          <li class="list-group-item">Games & Entertainment
            <span class="label label-success pull-right">34</span>
          </li>
        </ul>
      </div>
      <!-- /.div -->


      <div>
        <ul class="list-group">
          <li class="list-group-item list-group-item-success"><a href="#">New Offer's Coming </a></li>
          <li class="list-group-item list-group-item-info"><a href="#">New Products Added</a></li>
          <li class="list-group-item list-group-item-warning"><a href="#">Ending Soon Offers</a></li>
          <li class="list-group-item list-group-item-danger"><a href="#">Just Ended Offers</a></li>
        </ul>
      </div>
      <!-- /.div -->

    </div>
    <!-- /.col -->
    <div class="col-md-9">




      <router-outlet></router-outlet>






    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</div>


<app-main-footer></app-main-footer>


